#root {
  height: 100%;
}

.app {
  height: 100%;

  display: grid;

  
  grid-template-rows: 100%;
  

/*  IMPLICIT GROWS DOWN-WARDS */
  grid-auto-flow: row;
/*  align-content: start;*/
}

.app.menu-is-closed {
  /* 1 column, vert-flowing grid */
  grid-template-columns: 1fr;
}

.app.menu-is-open {
  /* 2 column, vert-flowing grid */
  grid-template-columns: 1fr 6fr;
}









