#root {
  height: 100%;
}

.app {
  height: 100%;

  display: grid;

  grid-template-columns: 1fr 6fr;
  grid-template-rows: auto;
  

/*  IMPLICIT GROWS DOWN-WARDS */
  grid-auto-flow: column;
/*  align-content: start;*/

}







