#root {
  background-color: darkolivegreen;
}

.app {
/*  height: 100%;*/

  display: grid;


/* 1 column, vert-flowing grid */
  grid-template-columns: 1fr;
/* full length of screen */
/*  grid-auto-rows: auto;*/
  

/*  IMPLICIT GROWS DOWN-WARDS */
  grid-auto-flow: row;
/*  align-content: start;*/


  background-color: darkolivegreen;

  place-items: center;

  text-align: center;
}

.app.transitions-on {
  transition: margin-left 0.5s ease-in-out;
}


.app > h1 {
  
  border-bottom: 2px solid white;

  /* one line text*/
/*  white-space: nowrap;*/

  font-size: 2rem;
  font-weight: 1000;
  color: white;
}

.othercontent {
  height: 2000px;
}






