/*grid child of app*/
.app > .titlebar > button {
	position: sticky;
	top: 0.5rem;
/*	margin-left: 0.5rem;*/

	flex-basis: 50px;
	flex-grow: 1;

	padding: 0;

	background-color: saddlebrown;
	color: yellowgreen;
	
}