/*grid child of app*/
.app > button {
	position: fixed;
	top: 0.5rem;
	margin-left: 0.5rem;

	width: 28px;

	padding: 0;
	justify-self: start;

	background-color: saddlebrown;
	color: yellowgreen;
	
}