.sidebar {
	position: sticky;
	top: 0;
	align-self: start;

	height: 100%;

	display: flex;
	background-color: saddlebrown;
	flex-flow:column;

	align-items: center;
	justify-content: center;
}
.sidebar > ul {
	display: flex;
	flex-flow:column;
	flex-basis: 90%;
	justify-content: space-around;
	align-items: center;
/*	gap: 2rem;*/
	padding: 0;
/*	margin-top: 2rem;*/
}

.sidebar > ul > li {
	list-style-type: none;
	text-align: center;
	font-size: 1.8rem;
	font-weight: 1000;
	color: yellowgreen;
	border: 4px solid darkgreen;
/*	background-color: SaddleBrown;*/
}